.main-button {
  color: white;
  font-family: var(--font-saira);
  background-color: var(--green-third);
  width: 289px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.btn-arrow{
  position: relative;
  height: 12px;
  width: 18px;
  bottom: -5px;
  right: 10px;
  vertical-align: middle;
  float: right;
}

