.add-prescription-container {
  z-index: 11;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 520px;
}

.create-prescription-input {
  height: 50px;
  width: 310px;
  border-radius: 10px;
  background-color: #eeeeee;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  font-family: var(--font-saira);
}

.create-prescription-grid {
  padding: 1em;
  font-family: var(--font-saira);
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "medicine-text medicine-input medicine-input ."
    "amount-text amount-input amount-input ."
    "frequency-text frequency-input frequency-input ."
    "duration-text duration-date-from duration-date-to ."
    ". . create-prescription-btn create-prescription-btn";
}

.add-prescription-svg {
  cursor: pointer;
  padding: 0.5em;
  margin-left: 93%;
  padding-bottom: 0;
}

.amount-text {
  margin: auto;
  grid-area: amount-text;
}

.frequency-text {
  margin: auto;
  grid-area: frequency-text;
}

.duration-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: duration-text;
}

.medicine-text {
  margin: auto;
  grid-area: medicine-text;
}

.medicine-input {
  grid-area: medicine-input;
}

.amount-input {
  grid-area: amount-input;
}

.frequency-input {
  grid-area: frequency-input;
}

.duration-date-from {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: duration-date-from;
}

.duration-date-to {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: duration-date-to;
}

.create-prescription-btn {
  grid-area: create-prescription-btn;
}

.create-prescription-btn > button {
  color: white;
  padding: 1em 2em;
  background-color: #5fcf80;
  border-radius: 10px;
  border: none;
  min-width: 120px;
}

.create-btn-right {
  float: right;
}

.create-prescription-date-input {
  border: none;
  border-radius: 10px;
  background-color: #eeeeee;
  /* height: 50px;
  padding: 0px 0.5em; */
  padding: 1em;
}
