.chat-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px - 4px);
  font-family: var(--font-saira);
}

.chat-nav {
  overflow-y: scroll;
  width: 30vw;
  background-color: #f1f1f1;
}

.empty-chat-nav{
  position: relative;
  bottom: -4em;
  color: #8D8D8D;
}

.chat-text-area {
  width: 100%;
  background: #DBDBDB;
}

.set-prescription {
  width: 35vw;
  background-color: #f1f1f1;
}

.chat-nav::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chat-nav::-webkit-scrollbar-track {
  background: #EBEBEB;
}

/* Handle */
.chat-nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #B5B5B5;
}

/* Handle on hover */
.chat-nav::-webkit-scrollbar-thumb:hover {
  background: #949494;
}