.slides .slick-prev:before,
.slides .slick-next:before {
  z-index: 4;
  color: var(--green-third);
}

.set-image {
  height: 360px;
  border-radius: 10px;
}

.slick-slide {
  margin: 0 0.5em;
}

.cross-svg{
  position: absolute;
  top: 0;
  margin: 1em;
  height: 25px;
  width: 25px;
  cursor: pointer;
}