.basic-info-grid {
  display: grid;
  padding: 1em 2em;
  margin: 3em 0em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 8px 8px; 
  grid-auto-flow: row;
  grid-template-areas:
    "patient-name patient-dob"
    "patient-address patient-address"
    "patient-phone .";
}

.patient-form {
  background-color: var(--green-secondary);
  padding-top: 5em;
  padding-bottom: 5em;
  font-family: var(--font-saira);
}

.patient-form-submit {
  color: white;
  font-family: var(--font-saira);
  background-color: var(--green-third);
  width: 289px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 2em;
}

.patient-form-submit:disabled{
  opacity: 50%;
}
