.chat-box {
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 258px);
}

.chat-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.chat-box::-webkit-scrollbar-track {
  background: #DBDBDB;
}

/* Handle */
.chat-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b5b5b5;
}

/* Handle on hover */
.chat-box::-webkit-scrollbar-thumb:hover {
  background: #949494;
}
