.contact-info-container {
  font-family: var(--font-saira);
  padding: 1em;
}

.info-sub-head {
  font-weight: bold;
  padding-right: 1em;
}

.contact-single-field {
  margin: 1em 0em;
}

.contact-grid {
    background-color: white;
    border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas: "contact-grid-area map-grid-area";
}

.contact-grid-area {
  grid-area: contact-grid-area;
}

.map-grid-area {
  grid-area: map-grid-area;
}
