.doctor-form {
  font-family: var(--font-saira);
  background-color: var(--green-secondary);
  padding-top: 5em;
  padding-bottom: 5em;
}

.doctor-form-submit {
  color: white;
  font-family: var(--font-saira);
  background-color: var(--green-third);
  width: 289px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 2em;
}

.doctor-form-submit:disabled{
  opacity: 50%;
}
